@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap');

:root {
    --cor-primaria: #0F1923;
    --cor-segundaria: #262F3C;
    --color-buttons: #F12C4C;
    --color-lines: #323B45;

    --font-principal: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-segundaria);
}

header {
    color: white;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    border-bottom: 1px solid var(--color-lines);
}

.logo {
    width: 100px;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}

button:nth-child(1) {
    background-color: var(--color-buttons);
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
}

button:nth-child(2) {
    background-color: var(--color-buttons);
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    border: none;
}

.buttons {
    cursor: default;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#value {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--color-lines);
}

#discount {
    position: absolute;
    color: var(--color-buttons);
    display: block;
    animation: none;

}

#win {
    position: absolute;
    color: green;
    display: block;
    animation: none;

}


@keyframes discount-animation {
    0% {
        bottom: 25px;
        left: 61px;
        opacity: 0;
    }

    40% {
        opacity: 100%;
    }

    100% {
        bottom: 30px;
        left: 65px;
        opacity: 0%;
    }
}

@keyframes win-animation {
    0% {
        bottom: 25px;
        left: 61px;
        opacity: 0;
    }

    40% {
        opacity: 100%;
    }

    100% {
        bottom: 30px;
        left: 65px;
        opacity: 0%;
    }
}

#user {
    padding: 8px;
    border: 1px solid var(--color-lines);
    border-radius: 5px;
}


#money_icon {
    color: rgb(182, 182, 23);
}

.previous_cards {
    border-radius: 5px 5px 0 0;
    margin: 8px 10px 0;
    background-color: var(--cor-primaria);
    height: 64px;


    
}

#previous_cards_container {
    display: flex;
    justify-content: end;
    padding: 10px;
    overflow: hidden;

}

.red_card, .black_card, .white_card {
    border: 1px solid white;
    margin-left: 5px;
    min-width: 40px;
    height: 40px;
    border-radius: 5px;


}

.red_card {
    background-color: var(--color-buttons);

}

.black_card {
    background-color: var(--color-lines);
}

.white_card {
    background-color: white;
}


.actual_cards {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
    margin: 0 10px;
    background-color: var(--cor-primaria);
    height: 200px;
    border-top: 1px solid var(--color-lines);
    overflow: hidden;
}

#indicator {
    height: 120px;
    width: 5px;
    background-color: white;
    position: absolute;
    top: 70px;
    z-index: 1;

}

#cards {
    display: flex;
    position: relative;


}

.case_red {
    right: 3825px;
}

.case_black {
    right: 3927px;
}


.item {
    margin: 3px;
    border: 1px solid white;
    border-radius: 5px;
    height: 96px;
    width: 96px;

}

.item1 {
    background-color: var(--color-buttons);
}

.item2 {
    background-color: var(--cor-segundaria);
}

.item3 {
    background-color: white;
}

@keyframes carrocel {
    0% {
        right: -3095px;
    }

    50% {
        right: 3723px;
    }


    100% {
        right: 3723px;
    }
}

@keyframes carrocel-red {
    0% {
        right: -3095px;
    }

    50% {
        right: 3621px;
    }


    100% {
        right: 3621px;
    }
}

@keyframes carrocel-white {
    0% {
        right: -3095px;
    }

    50% {
        right: 4030px;
    }


    100% {
        right: 4030px;
    }
}



#girando_text {
    display: none;
    color: white;
    margin-top: 10px;
    font-size: 0.8em;
}

#contagem_regressiva {
    border-radius: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 40px;
    background-color: var(--cor-segundaria);
    width: 95%;

}

#contagem_regressiva div {
    margin-left: 10px;
    border-radius: 3px;
    height: 60%;
    color: white;
    background-color: var(--color-buttons);

}

#container_cronometro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 106.5px;
    top: 13.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: white;
    width: 106.3px;


}
 
@keyframes animationBar {
    0% {
        width: 95%;
    }

    100% {
        width: 0%;
    }
}

.controls {
    background-color: var(--cor-segundaria);
    height: 370px;
}

.nav {
    border: 1px solid var(--color-lines);
    margin: 15px 20px 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-segundaria);
}

.nav_button {
    cursor: pointer;
    color: white;
    font-size: 0.7em;
    width: 440px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls_quantia {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 15px;

}

.container_input {
    display: flex;
}



#quantia {
    color: white;
    background-color: var(--cor-primaria);
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

#reduzir, #aumentar {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    width: 20%;
    cursor: pointer;
    border: 1px solid var(--color-lines);
    border-radius: 5px;

}

.cores {
    color: white;
    font-size: 0.8em;
}

.cores p {
    margin-left: 20px;
}

.color_buttons_container {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.selected_button {
    border: 3px solid black;
}

.button {
    cursor: pointer;
    font-weight: bolder;
    border-radius: 5px;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red_button {
    background-color: var(--color-buttons);
    
}

.black_button {
    background-color: #333B49;

}

.white_button {
    color: var(--color-buttons);
    background-color: white;
}

.container_total_apostas {
    margin: 0 20px;
}

#total_apostas {
    background-color: var(--cor-primaria);
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.play_button_container {
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    
}

#play_button {
    background-color: var(--color-buttons);
    font-weight: bolder;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


